@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* STANDARD CONFIGURATION START */
* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      list-style-type: none;
      text-decoration: none;
      font-family: 'Ubuntu', sans-serif;
      border: none;
      outline: none;
}
/* STANDARD CONFIGURATION END */

/* BODY START */
body {
      margin-left: auto;
      margin-right: auto;
      max-width: 960px;
      background: url(../IMAGES/Background.png);
}
/* BODY END */

/* INDEX HEADER START */
.index-header {
      padding: 20px 20px;
      background-color: rgb(86, 52, 124);
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.logo-div {
      display: flex;
      justify-content: center;
      align-items: center;
}

.logo-div h1 {
      margin-left: 20px;
}

.index-header h1 {
      color: rgb(255, 255, 255);
      font-size: 2.5rem;
      font-weight: 400;
}

.index-header .header-inputs {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.index-header .header-inputs .search-input-div #search-textbox {
      margin-bottom: 10px;
      width: 208px;
      height: 38px;
      padding: 8px 15px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      font-size: 1rem;
      background: rgb(255, 255, 255);
      color: rgb(86, 52, 124);
      font-weight: bold;
}

.index-header .header-inputs .search-input-div {
      display: flex;
      justify-content: center;
      align-items: center;
}

.index-header .header-inputs .search-input-div #search-textbox::placeholder {
      color: rgb(86, 52, 124);
      font-weight: bold;
      font-size: 1rem;
}

.index-header .header-inputs .search-input-div #search-button {
      padding: 10px;
      margin-bottom: 10px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      background: rgb(255, 255, 255);
}

.index-header .header-inputs #login-button {
      margin-top: 10px;
      background: rgb(255, 255, 255);
      padding: 10px 14px;
      width: 246px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      height: 38px;
      color: rgb(86, 52, 124);
      font-size: 1rem;
}
/* HEADER END */

/* INDEX MAIN START */
.index-main {
      padding: 20px 20px;
      background-color: rgb(255, 255, 255);
}

.index-main .index-main-introduction-div
{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
}

.index-main .index-main-introduction-div img {
      margin-right: 20px;
      margin-bottom: 20px;
}     

.index-main .h3-purple-text {
      max-width: 400px;
}

.index-main .about-medcran-div-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
}

.index-main .about-medcran-div-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;  
      flex-wrap: wrap;
}

.about-medcran-box-div img {
      margin-bottom: 20px;
}

.about-medcran-box-div h3 {
      margin-bottom: 20px;
}

.about-medcran-box-div p {
      max-width: 350px;
      margin-bottom: 30px;
}
/* INDEX MAIN END */

/* FOOTER START */
footer {
      background-color: rgb(255, 255, 255);
      padding: 10px 20px;
      color: rgb(86, 52, 124);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid rgb(235, 235, 235);
}
/* FOOTER END */

/* MEDIA QUERIES START */
@media screen and (max-width: 768px) {
      #easy-to-use-vector-img {
            width: 250px;
      }

      #easy-to-manage-vector-img {
            width: 311px;
      }

      #fast-and-reliable-vector-img {
            width: 261px;
      }

      #secure-and-unbreakable-vector-img {
            width: 311px;
      }

      .about-medcran-box-div p {
            max-width: 250px;
      }
}

@media screen and (max-width: 650px)
{
      .index-header {
            justify-content: center;
      }

      .header-inputs {
            display: none !important;
      }

      .index-main .index-main-introduction-div {
            flex-wrap: wrap;
            justify-content: center;
      }

      .index-main .index-main-introduction-div img {
            width: 380px;
            margin-right: 0px !important;
      }

      #easy-to-use-vector-img {
            width: 281px;
      }

      #easy-to-manage-vector-img {
            width: 350px;
      }

      #fast-and-reliable-vector-img {
            width: 292px;
      }

      #secure-and-unbreakable-vector-img {
            width: 350px;
      }

      .about-medcran-div-1 {
            justify-content: center !important;
            align-content: center !important;
      }

      .about-medcran-div-2{
            justify-content: center !important;
            align-content: center !important;
      }

      .about-medcran-box-div p {
            max-width: 350px;
      }
}

@media screen and (max-width: 412px) {
      .index-main .index-main-introduction-div img {
            width: 380px;
      }

      #footer-img {
            width: 80px;
      }

      #mail-text {
            font-size: 1.5rem;
      }
}

@media screen and (max-width: 393px) {
      .index-main .index-main-introduction-div img {
            width: 370px;
      }
}

@media screen and (max-width: 375px) {
      .index-main .index-main-introduction-div img {
            width: 350px;
      }
}

@media screen and (max-width: 360px) {
      .index-main .index-main-introduction-div img {
            width: 330px;
      }

      #easy-to-use-vector-img {
            width: 261px;
      }

      #easy-to-manage-vector-img {
            width: 330px;
      }

      #fast-and-reliable-vector-img {
            width: 272px;
      }

      #secure-and-unbreakable-vector-img {
            width: 330px;
      }

      #footer-img {
            width: 60px;
      }

      #mail-text {
            font-size: 1.25rem;
      }

      .logo-div {
            width: 90px;
      }

      .logo-div h1 {
            font-size: 2.25rem;
      }
}

@media screen and (max-width: 280px) {
      .logo-div {
            width: 80px;
      }

      .logo-div h1 {
            font-size: 2rem;
      }

      .index-main .index-main-introduction-div img {
            width: 260px;
      }

      .about-medcran-box-div h3 {
            font-size: 1.5rem;
      }

      #easy-to-use-vector-img {
            width: 181px;
      }

      #easy-to-manage-vector-img {
            width: 250px;
      }

      #fast-and-reliable-vector-img {
            width: 192px;
      }

      #secure-and-unbreakable-vector-img {
            width: 250px;
      }

      #footer-img {
            width: 50px;
      }

      #mail-text {
            font-size: 1rem;
      }

}
/* MEDIA QUERIES END */